.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav {
  max-width: 1000px;
  padding: 1rem 2rem;
}

.title {
  padding: 1rem 0;
  display: block;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.container {
  width: 100%;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px){
  .container{
    padding: 10px 20px;
  }
}

.chart-container {
  width: 100%;
  height: 350px;
}

.header { 
  width: 100%;
  background-color: #252F3F;
  color: white;
}

.nav-item {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding: 3px 10px;
}

.nav-item:hover{
  color: #D1D1D1;
}

.sub-title{
  padding: 1rem 0;
  width: 100%;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.main{
  min-height: 100vh;
}

.table {
  background-color: white;
	min-width: 500px;
  margin:0 auto;
}

.table-header {
	background-color:#252F3F;
}

.table-row {
	width:100%;	
}

.table-row:nth-child(odd){
  background-color: #D1D1D1;
}

.table-data, .header-item {
	text-align:center;
  padding: 5px 3px;
}

.header-item {
  color: white;
	text-transform:uppercase;
}